body{
  background: grey;
  color: pink;
  size: 150%;
  margin: 5%;
}

h1{
  font-family: Futura;
}

h2{
  font-family: Futura;
}

h3{
  font-family: Futura;
}

h4{
  font-family: Calibri;
}

h5{
  font-family: Futura;
}

p{
  font-family: Futura;
}

nav a{
  color: #983351;
  font-family: Calibri;
}

a.current{
  color:black;
}

a{
  color: #983351;
  font-family: Calibri;
}
