body{
  background: grey;
  color: pink;
  size: 150%;
  margin: 5%;
}

h1{
  text-align: center;
  font-family: Futura;
  font-size: 230%;
}

h2{
  font-family: Futura;
}

h3{
  font-family: Futura;
  font-size: 150%;
}

h4{
  font-family: Futura;
}

h5{
  font-family: Futura;
}

p{
  font-family: Actor;
}

a.skip {
  position: relative;
  top: auto;
  width: 1px;
  height 1px;
  overflow: hidden;
  color:grey;
}

a.skip:focus, a.skip:active {
  left: auto;
  top: auto;
  width: 40%;
  height: auto;
  overflow: auto;
  marigin: 5px;
  padding: 5px;
  text-align: left;
  font-family: Actor;
  color:pink;
}

ul {
  list-style-type: none;
  margin: 15;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: pink;
  font-family: Futura;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover:not(.current) {
  background-color: #111;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  margin: 10px;
  text-align: left;
  line-height: auto;
}

.current {
  background-color: pink;
  color: #333;
}

.horizimg {
  width: 350px;
  height: 250px;
}

.horizimg img {
  width: 100%;
  height: auto;
}

.verticalimg {
  width: 350px;
  height: 400px;
}

.verticalimg img {
  width: 100%;
  height: auto;
}

.homepage {
  position: relative;
  text-align: center;
  color: black;
}

.homeimg {
  opacity: .5;
}

.text {
  position: absolute;
  bottom: 4px;
  left: 255px;
  text-align: center;
  width: 655px;
}

.header {
  position: absolute;
  top: 4px;
  left: 260px;
  text-align: center;
  width: 650px;
}

/*
@media only screen and (min-width: 1024 px){

}
*/
