body{
  background: grey;
  color: pink;
  size: 150%;
  margin: 5%;
}

h1{
  font-family: Futura;
}

h2{
  font-family: Futura;
}

p{
  font-family: Futura;
}

nav a{
  color: blue;
  font-family: Calibri;
}

a.current{
  color:purple;
}

a{
  font-family: Calibri;
}
